.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.highlight {
  background-color: $highlight;
  border-radius: 2px;
}

.testListBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstRow {
  display: flex;
  gap: 50px;

  @include respondMLarge {
    gap: 30px;
  }

  @include respondMedium {
    flex-direction: column;
    gap: 10px;
  }
}

.firstRowForUser {
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: $btnTextColor;
  background-color: rosybrown;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease 0s;

  @include respondXLarge {
    padding: 7px 30px;
    font-size: 18px;
    border-radius: 12px;
  }

  @include respondMedium {
    font-size: 16px;
    border-radius: 10px;
  }

  @include respondSmall {
    width: 120px;
    height: 35px;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.logout {
  color: $logoutColor;
}

.createTest {
  margin: 0px 0px 20px 0px;

  @include respondMLarge {
    margin: 0px 0px 10px 0px;
  }
}

.filterInput {
  width: 65%;
  height: 50px;
  padding: 5px 20px;
  font-size: 18px;
  border: 1px solid $gray;
  border-radius: 12px;
  outline: none;
  transition: box-shadow 0.3s ease 0s;

  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  }

  @include respondXLarge {
    width: 55%;
  }

  @include respondLarge {
    font-size: 16px;
  }

  @include respondMLarge {
    width: 45%;
  }

  @include respondMedium {
    width: 70%;
  }

  @include respondSmall {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  }
}

.filterInputForUser {
  width: 70%;
}

.emptyList {
  margin: auto;
  text-align: center;
  font-size: 32px;
  color: rosybrown;

  @include respondSmall {
    font-size: 24px;
  }
}

.sort {
  padding: 10px 0;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease 0s;

  @include respondLarge {
    font-size: 18px;
  }

  @include respondMedium {
    font-size: 17px;
  }

  @include respondSmall {
    font-size: 16px;
  }

  &:hover {
    color: #8ab92b;
    & .sortArrow {
      transform: scale(1.2);
    }
  }
}

.sortArrow {
  display: inline-block;
  transition:
    transform 0.3s ease 0s,
    color 0.3s ease 0s;
}

.testsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testItem {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 32px;

  @include respondXLarge {
    font-size: 28px;
  }

  @include respondLarge {
    font-size: 22px;
  }

  @include respondMedium {
    font-size: 18px;
    line-height: 122%;
  }

  @include respondSmall {
    font-size: 16px;
  }
}

.testTitle {
  cursor: pointer;
  transition: color 0.3s ease 0s;
  word-break: break-word;

  &:hover {
    color: $gray;
  }
}

.itemButtons {
  display: flex;
  gap: 20px;
}

.itemBtn {
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease 0s;

  &:hover {
    transform: scale(1.2);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.paginationBtn {
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease 0s;

  @include respondLarge {
    font-size: 14px;
  }

  @include respondMedium {
    font-size: 12px;
  }

  &:hover {
    transform: scale(1.3);
  }
}

.activePage {
  font-size: 16px;
  color: $gray;
  background-color: transparent;
  text-decoration: underline;
  cursor: default;

  @include respondLarge {
    font-size: 14px;
  }

  @include respondMedium {
    font-size: 12px;
  }
}

.modalBtnsWrap {
  display: flex;
  justify-content: end;
  gap: 30px;
  padding: 5px;

  @include respondSmall {
    gap: 8px;
    padding: 0;
  }

  & > * {
    width: 150px;
    height: 40px;
    font-size: 16px;

    @include respondSmall {
      width: 90px;
      height: 35px;
      padding: 7px 10px;
      font-size: 14px;
    }
  }
}

.modalText {
  margin-bottom: 30px;
  font-size: 18px;
  word-break: break-word;

  @include respondSmall {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 122%;
  }
}

.modalDeleteBtn {
  color: $logoutColor;
}
